%h1 Chapters
%table{:border => "0", :cellpadding => "0", :cellspacing => "10", :width => "100%"}
	%tr
		%td
			%b Chapter
		%td
			%b Headquarters
		%td
			%b President
	- all_chapters && all_chapters.each do |c|
		%tr
			%td= link_to c.name, '#'
			%td= c.headquarters
			%td
				= c.president.name rescue ''
				= link_to "#{c.president.email rescue ''}", '#'
				%br