= form_for @admin_country do |f|
  - if @admin_country.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_country.errors.count, "error")} prohibited this admin_country from being saved:"
      %ul
        - @admin_country.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
