- if country.errors.any?
	#error_explanation
		%h2= "#{pluralize(country.errors.count, "error")} prohibited this admin_country from being saved:"
		%ul
			- country.errors.full_messages.each do |msg|
				%li= msg
.admin_panel_inner
	.row-fluid
		= f.label 'name', 'Name*', class: "control-label"
		= f.text_field :name, tabindex: 1, class: 'span12', required: true
	.row-fluid
		= f.label 'code2', 'Code2*', class: "control-label"
		= f.text_field :code2, tabindex: 2, class: 'span12', maxlength: 2, required: true
	.row-fluid
		= f.label 'code3', 'Code3*', class: "control-label"
		= f.text_field :code3, tabindex: 3, class: 'span12', maxlength: 3, required: true
	.row-fluid
		.buttonBar
			= f.submit "Save", class: "btn btn-primary", tabindex: 21
			= link_to 'Cancel', :back, :class => "btn btn-primary", tabindex: 22
